* {
    box-sizing: border-box;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .row::after {
    content: "";
    clear: both;
    display: flex;
    align-items: center; 
  }

  div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }

  .container {
    display: flex;
    align-items: center; /* Vertically centers the items */
    justify-content: center; /* Horizontally centers the items */
}

  center {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 200px; /* Set a height for the div */
    border: 3px solid green;
    }


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  img {
    width: 100%;
    height: auto;
  }


p {
    color: rgb(159, 159, 202);
    text-align: left;
    vertical-align: middle;
  }



body {
    background-color: rgb(5, 33, 43);
    margin-left: 10%;
    margin-right: 10%;
    border: 1px hidden;
}

h1 {
    color: rgb(159, 159, 202);
    border-color: rgb(159, 159, 202);
}

table
{
    color: rgb(159, 159, 202);
    border-collapse: collapse;
    border: 1px hidden;
}

thead
{
    color: rgb(159, 159, 202);
    border-collapse: collapse;
    border: 1px hidden;
}


@media screen and (max-width:768px){

    table {
        display: block;
      }
      
      td{
        display: inline-block;
      }
}

/*
.markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 16px;
  color: inherit;
  border-left: .25em solid #888;
}

.markdown-alert>:first-child {
  margin-top: 0
}

.markdown-alert>:last-child {
  margin-bottom: 0
}

.markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1
}

.markdown-alert .markdown-alert-title .octicon {
  margin-right: 0.5rem;
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.markdown-alert.markdown-alert-note {
  border-left-color: var(--color-note);
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--color-note);
}

.markdown-alert.markdown-alert-important {
  border-left-color: var(--color-important);
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--color-important);
}

.markdown-alert.markdown-alert-warning {
  border-left-color: var(--color-warning);
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--color-warning);
}

.markdown-alert.markdown-alert-tip {
  border-left-color: var(--color-tip);
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--color-tip);
}

.markdown-alert.markdown-alert-caution {
  border-left-color: var(--color-caution);
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--color-caution);
}*/
